<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <ul class = "nav navbar-nav">
                    <li class="navbar-brand"><a href="{% url 'index' %}">BRAND</a></li>
                    <li class="navbar-brand"><a href="{% url 'admin:index' %}">ADMIN</a></li>
                    <li class="navbar-brand"><a href="{% url 'basic_app:other' %}">OTHER</a></li>


                </ul>
            </div>
            
        </nav>
        <div class="container">
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>